{% extends '../crm/base.html' %}
{% block title %} {{lead.name}} {% endblock title %}

{% block body %} 
    <div class="py-4 px-5">
        <h1 class="mb-4 text-xl"> {{lead.name}} </h1>
    
    {% if lead.description %}
    <p class="font-semibold"> description </p>
    <p class="mb-2">{{ lead.description }}</p>
    {% endif %}

    <p class=" font-semibold ">Priority</p>    
    <p class=" mb-2">{{lead.get_priority_display}}</p>

    <p class=" font-semibold">Status</p>
    <p class=" mb-2">{{lead.get_status_display}}</p>

    <p class=" font-semibold">Created at</p>
    <p class=" mb-2">{{lead.created_at}}</p>

    <p class="font-semibold">Modifed at </p>
    <p class=" mb-6">{{lead.modified_at}}</p>

    <hr>
    <a href="{% url 'lead_delete' lead.id%}" class="inline-block bg-red-600  text-white py-4 px-2  hover:text-current rounded-2xl hover:bg-red-400 hover:text-white hover:rounded-xl duration-500 ml-3" >delete lead</a>
    <a href="{% url 'convert_to_client' lead.id%}" class="inline-block bg-blue-600  text-white py-4 px-2  hover:text-current rounded-2xl hover:bg-blue-400 hover:text-white hover:rounded-xl duration-500 ml-3" >convert to client</a>
    
    <a href="{% url 'edit_lead' lead.id%}" class="inline-block bg-teal-300  text-white py-4 px-5  hover:text-current rounded-2xl hover:bg-red-400 hover:text-white hover:rounded-xl duration-500 ml-5" >edit lead</a> 
    

    <hr>
    
    <a href="{% url 'lead_list' %}">back to leads</a>
</div>
{% endblock body%}